.footer__content-container {
  margin-top: -10px;
  background: #000000;
}
.footer__title {
  padding-top: 38px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  color: #fefefe;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}
.footer__paragraph {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #b9b9b9;
}
.footer__paragraph-tablet {
  display: none;
}
.footer__icons {
  margin-left: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  // flex-direction: row;
}
.footer__icons li {
  padding: 3px;
}
.address {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: #b9b9b9;
  padding-bottom: 47px;
}
.address-tablet {
  display: none;
}
@media (min-width: 768px) {
  .footer__title {
    font-size: 16px;
    padding-top: 57px;
  }
  .footer__paragraph {
    display: none;
  }
  .footer__paragraph-tablet {
    margin-top: 22px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #b9b9b9;
  }
  .footer__icons li {
    margin-top: 37px;
  }
  .address-tablet {
    margin-top: 34px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    color: #b9b9b9;
    padding-bottom: 56px;
  }
  .address {
    display: none;
  }
}
@media (min-width: 1200px) {
  .footer__title {
    padding-top: 66px;
  }
  .address-tablet {
    padding-bottom: 70px;
  }
}
