// @import url(./_variables.scss);
// @import url(./_mixins.scss);
// // @import url(mixins.scss);

// @mixin headMenu {
// //   position: absolute;
// //   margin-top: 40px;
// //   margin-left: 25%;
// //   margin-right: 25%;
// //   width: 100%;
// //   height: 40px;
// //   display: flex;
// //   flex-direction: row;
// //   justify-content: space-evenly;
// //   background: rgba(0, 0, 0, 0.0001);
// }

header {
  // position: absolute;
  // position: sticky;
  display: flex;
  align-items: center;
  // text-align: justify;
  justify-content: end;
  margin-right: 10px;
  // width: 100%;
  height: 83px;
  top: 0px;
  // padding-right: 7%;
  // padding-left:  7%;
  // background: rgba(94, 93, 88, 0.6);
}

.header__btn {
  // position: absolute;
  // display: flex;
  // // padding-right: 0%;
  // justify-content: flex-end;
  width: 44px;
  height: 37px;
  background: rgba(0, 0, 0, 1);
  background-image: url(../img/menu-button.svg);
  cursor: pointer;
  border: none;
}

.header__btn-active {
  background-image: url(../img/menu-button-x.svg);
}

.header__navigation {
  display: none;
}

.header__navigation-active {
  position: absolute;
  margin-top: 50px;
  margin-left: 50%;
  width: 122px;
  height: 208px;
  top: 18px;
  background: #f5f5f5;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header__navigation-link {
  height: 22px;
  padding: 4px 14px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 22px;
  letter-spacing: 1.1px;
  text-transform: uppercase;
  color: #4e4e4e;
  text-decoration: none;
  display: inline-block;
  margin-left: -40px;
}

@media (min-width: 768px) {
  .header {
    // width: 100%;
    height: 106px;
    // // top: -50px;
    display: flex;
    align-items: center;
    // text-align: center;
    justify-content: center;
  }
  .header__btn {
    display: none;
  }
  .header__navigation {
    // @include headMenu;
    
    // padding-right: 11%;
    // padding-left: 11%;
    padding: 0% 11% 0% 11%;
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background: rgba(0, 0, 0, 0.0001);
  }
  .header__navigation-active {
    // position: absolute;
    margin-top: 40px;
    padding-left: 11%;
    padding-right: 11%;
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: rgba(0, 0, 0, 0.0001);
    // @include head;
    // margin-top: 0;
  }
  .header__navigation-link {
    display: inline-block;
    // flex-direction: row;
    // display: flex;
    // flex-direction: row;
    align-items: center;
    text-align: justify;
    justify-content: space-around;
    // margin-left: 5%;
    &:hover{
      color: rgba(87, 164, 164, 1);
    }
  }
  .header__navigation-link:hover{
    color: rgba(87, 164, 164, 1);
  }
}

@media (min-width: 1200px) {
  .header {
       height: 118px;
    }
    
  }
// .photo{
//     // width: 100%;
//     display: flex;
//     justify-content: center;
//     padding-left: 10%;
//     padding-right: 10%;
// height: 150px;


// }
// .photo{
//     // width: 100%;
//     display: flex;
//     justify-content: center;
//     padding-left: 10%;
//     padding-right: 10%;
//     //  height: 150px;

// }