.last-instagram-shot {

    background-color: rgba(0, 0, 0, 0.0001);
}

.last-instagram-shot__text {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-left: 2%;

}

.last-instagram-shot__title {
    margin-top: 38px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    color: #4E4E4E;
}

.instagram {
    display: none;
}

.insta-image-tablet {
    display: none;

}

.insta-image-d {
    display: none;
}

.insta-img-collection {
    margin-bottom: 42px;
}

@media (min-width: 768px) {
    .last-instagram-shot {
        background-color: rgba(0, 0, 0, 0.03);
    }

    .instagram {
        display: flex;
        padding-right: 4%;
    }

    .insta-img-collection {
        width: 760px;
        display: inline-block;
        margin-top: 35px;
        margin-bottom: 50px;
    }

    .insta-image {
        width: 250px;
    }

    .insta-image-tablet {
        display: inline-block;
        width: 250px;
    }
}

@media (min-width: 1200px) {
    .insta-image-d {
        width: 285px;
        display: inline;
    }

    .insta-image {
        width: 285px;
    }

    .insta-image-tablet {
        width: 285px;
    }

    .insta-img-collection {
        min-width: 1200px;
        padding: 0% 2% 0% 2%;
    }

}