@mixin title {
    margin-top: 38px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    color: #4E4E4E;

}

@mixin headMenu {
  position: absolute;
  margin-top: 40px;
  margin-left: 25%;
  margin-right: 25%;
  width: 100%;
  height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background: rgba(0, 0, 0, 0.0001);
}
// @include headMenu()