main{
    display: flex;
    flex-direction: column;
    align-items: center;
  justify-content: center;
  padding-left: 10%;
  padding-right: 10%;
  }
.photo{
    display: flex;
     align-items: center;
  justify-content: center;
  margin-right: 10px;
  // flex: 1;
}
.photo-m{
width: 320px;

   }
   .photo-t{
    display: none;
   }
   .photo-d{
    display: none;
   }

   @media (min-width: 768px){
    .photo-m{
        display: none;
        
           }
           .photo-t{
            display: block;
           }
   }
   @media (min-width: 1200px){
    .photo-t{
        display: none;
        
           }
           .photo-d{
            display: block;
           }
   }