.our-recent-post {
    margin-left: -20%;
}

.our-recent-post__title {
    margin-top: 38px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    text-transform: uppercase;
    color: #4E4E4E;

}

.image {
    width: 160px;
}

h4 {
    margin-top: 0;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 30px;
    color: #4E4E4E;
}

.our-recent-post__paragraph {
    margin-top: -22px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    color: #7C7C7C;
}

.our-recent-post__text {
    display: none;
}

.our-recent-post__section-additional {
    display: none;
}

@media (min-width: 768px) {
    .our-recent-post__section-basic {
        // width: 50%;
        display: flex;
        flex-direction: row;
        justify-content: start;
        margin-bottom: 30px;
    }

    .our-recent-post__description {
        margin-left: 21px;
    }

    .our-recent-post__text {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 26px;
        display: flex;
        align-items: center;

        color: #5C5C5C;
    }

    .our-recent-post__section-additional {
        display: flex;
        flex-direction: row;
        justify-content: start;
        margin-bottom: 30px;
    }
}


@media (min-width: 1200px) {
    .our-recent-post {
        width: 1180px;
        margin-left: 0px;
        display: grid;
        grid-template-areas:
            "title title"
            "first third"
            "second fourth";
    }

    .our-recent-post__title {
        grid-area: title;
    }

    .first {
        grid-area: first;
    }

    .second {
        grid-area: second;
    }

    .third {
        grid-area: third;
    }

    .fourth {
        grid-area: fourth;
    }
}